.botao {
    align-self: center;
    background-color: #2286ad;
    border-radius: 10px;
    box-shadow: 2px 4px 4px #7070709f;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25rem;
    padding: 16px;
    width: 150px;
    
    &:active {
      background-color: #538497;
      box-shadow: 2px 2px 4px #0000009F inset;
    }
}