
.formulario{
    width: 600px;
    margin: 0 auto;
    padding: 15px 25px;
    border-radius:10px ;
    box-shadow: 1px 5px 5px 3px #97979734;
}

.formulario input{
    border: 1px solid #5250509a;
    font-size: 1.2rem;
    padding: 10px 0px;
    border-radius: 10px;
} 